<h1><%=@artist.name %></h1>
<p><%=@artist.bio %></p>

<%= link_to "Artists", artists_path %>
<%= link_to "Edit this Artist", edit_artist_path(@artist) %>
<%= link_to "Delete this Artist", artist_path(@artist), "method" => :delete %>